.chat-menu
  .chat-menu__head
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
    %i.fa.fa-edit
    .chat-menu__head__name SEO
  .chat-menu__body
    = render partial: "menu_comment"
.chat-contents
  .chat-contents__head
    .chat-contents__head__button edit
    .chat-contents__head__group-name KGG
    .chat-contents__head__group-member Members: Mai  Yuuko  Pinoko
  .chat-contents__body
    .chat-contents__body__content
      = render partial: "content_comment"
    .chat-contents__type-message
      = form_for [@chatgroup, @comment] do |f|
        = f.submit "Send",class: 'chat-contents__type-message__button'
        .chat-contents__type-message__box
          %i.fa.fa-picture-o
          = f.text_field :comment ,placeholder: 'type a message',class: 'chat-contents__type-message__box__message'

