.chat-menu
  .chat-menu__head
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
    = link_to new_chatgroup_path do
      %i.fa.fa-edit
    .chat-menu__head__name= current_user.name
  .chat-menu__body
    = render partial: "menu_comment", collection: current_user.chatgroups, as: :chatgroup
.chat-contents
  .chat-contents__head
    = link_to edit_chatgroup_path(@chatgroup) do
      .chat-contents__head__button edit
    .chat-contents__head__group-name= @chatgroup.group_name
    .chat-contents__head__group-member member:
    .chat-contents__head__group-member--name
      = @chatgroup.users.pluck(:name).join(',')
  .chat-contents__body
    .chat-contents__body__content
      = render partial: "content_comment", collection: @chatgroup.comments, as: :comment
    %ul
      .chat-contents__body__comments
    .comments__user
    .chat-contents__type-message
      = form_for [@chatgroup, @comment] do |f|
        = f.submit "Send", class: 'chat-contents__type-message__button'
        .chat-contents__type-message__box
          %label
            = f.file_field :image,class: 'chat-contents__type-message__box__icon'
            %i.fa.fa-picture-o
          = f.text_field :comment, placeholder: 'type a message', class: 'chat-contents__type-message__box__message'

